.image{
    width: 20rem;
    height: auto;
}

.wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    animation-duration: 1s;
    animation-delay: 2s;
}

.wrapper button{
    display: flex;
    gap: 20px;
    background-color: #21D4FD;
}
.wrapper i{
    animation-duration: 6s;
}

.wrapper button:hover{
    background-color: #21D4FD;
    opacity: .8;
}
@media (max-width:1281px){
    .wrapper{
        flex-direction: column;
    }
}
