.container{
    z-index: 2;
}

.container h1{
    font-size: 6em;
    font-weight: bold;
    color: seashell;
    animation: neon 1s linear infinite alternate;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #21D4FD, 0 0 25px #21D4FD;
}

.contact_wrapper{
    width: 100%;
    z-index: 2;
}

.container .image{
    width:400px;
    height: 500px;
}

.contact_form{
    width: 76%;
    border-radius: 29px;
    background: #23272b;
    box-shadow: -7px -7px 14px #111315, 7px 7px 14px #353b41;
    transition: all .5s ease-in-out;
    gap: 20px;
    padding: 40px;
    z-index: 2;
}

.contact_form label{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    font-size: 1.2em;
    font-weight: lighter;
}

.contact_form input{
    width: 100%;
    background: #23272b;
    border-radius: 6px;
    border: 2px solid #191b1e;
    box-shadow: 1px 4px 2px -3px rgba(0,0,0,.7) inset,-1px -3px 3px -2px hsla(0,0%,100%,.2) inset;;
    font-size: 1.3em;
    height: 55px;
    letter-spacing: 1px;
    color: #c4cfde;
    padding: 0 15px;

}


.contact_form input:focus{
    outline: none;
    border-color: #21D4FD;
}
.contact_form textarea:focus{
    outline: none;
    border-color: #21D4FD;
}

.contact_form button{
    font-size: 1.5em;
    width: 200px;
    height: 50px;
    background: none;
    color: aqua;
    outline: none;
    border: none;
    background: #23272b;
    box-shadow: 5px 5px 10px #0e1011, -5px -5px 10px #383e45;
}
.contact_form button:hover{
    opacity: 0.9;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 0 6px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;

}
.contact_form textarea{
    background: #23272b;
    border-radius: 6px;
    border: 2px solid #191b1e;
    box-shadow: 1px 4px 2px -3px rgba(0,0,0,.7) inset,-1px -3px 3px -2px hsla(0,0%,100%,.2) inset;;
    font-size: 1.2em;
    height: 55px;
    letter-spacing: 1px;
    color: #c4cfde;
    padding: 5px 15px;
    resize: none;
    padding: 10px 15px;
    line-height: 30px;
    min-height: 235px;
}

.container iframe{
    border-radius: 20px;
    box-shadow: 1px 4px 2px -3px rgba(0,0,0,.7) inset,-1px -3px 3px -2px hsla(0,0%,100%,.2) inset;;
    filter: grayscale(100%) invert(100%);
}

.contact_form h2{
    color: white;
    font-size: 5em;
    text-align: center;
    font-weight: bolder;
}


@media (max-width:1281px){

   .container{
    margin-top: 12%;
   }

   .contact_form{
    width: 80%;
   }
}


@media (max-width:600px){

    .container{
     margin-top: 20%;
    }
 
    .container h1{
        font-size: 3em;
    }
    .contact_form{
     width: 100%;
    }

    .container iframe{
        width: 100%;
    }

    .contact_form h2{
        font-size: 2em;
    }
 }