
.menu{
    display: flex;
    width: 100%;
    gap: 26vw;
    padding: 20px;
    align-items: center;
    font-size: 1.5em;
}

.nom{
    display: flex;
    justify-content: center;
    align-items:flex-end;
}
.image{
    width: 80px;
    height: 60px;
    transform: rotate(45deg);

}
.liste {
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: space-between;
    gap: 30px;
}

.liste li{
    
    display: flex;
    gap: 10px;
}
