.popup {
    background: #23272b;
    box-shadow: -7px -7px 14px #111315, 7px 7px 14px #353b41;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3c4fe0;
    position: fixed;
    
  }
  
  .popup_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    gap: 0;
    width: 85%;
    height: 60%;
    border-radius: 29px;
    background: #23272b;
    box-shadow: -7px -7px 14px #111315, 7px 7px 14px #353b41;
    transition: all .5s ease-in-out;
  }
  
  .popup .image {
    width: 500px;
    height: 400px;
    padding: 10px;
    border-radius: 30px;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);

  }
  
  .contenu {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: baseline;
    width: 40%;
    justify-content: space-evenly;
  }
  
  .popup a:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  
  .popup .nom {
    font-size: 2.5em;
    color: white;
    width: fit-content;
    text-align: center;
    margin-top: 20px;
  }
  
  .popup .type {
    font-size: 1.1em;
    letter-spacing: 1px;
    font-weight: lighter;
    color: #ff014f;
    text-align: center;
    margin-top: 20px;
  }
  
  .popup .description {
    font-size: 1.1em;
    font-weight: lighter;
    text-align: justify;
    word-spacing: 2px;
    color: white;
  }
  
  .button {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    background: none;
    color: white;
    outline: none;
    border: none;
    border-radius: 50%;
    background: #23272b;
    box-shadow: 5px 5px 10px #0e1011, -5px -5px 10px #383e45;
  }
  .button:hover{
  box-shadow: 16px 16px 33px #121212,
  -16px -16px 33px #303030;;
  }
  
  .popup .image_wrapper {
    width: 100px;
  }
  
  .popUpContainer {
    background-color: aqua;
  }
  
  .link_buttons {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
/* CSS */
.link_buttons .link ,.github{
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 20px;
}

.link_buttons .link:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.link_buttons .link:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.link_buttons .link:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

@media screen and (max-width: 1280px) {

    .popup_inner{
        height: 85%;

    }
    .contenu{
        align-items: center;
    }
}
/*add media queries for me to make this code responsive*/
@media screen and (max-width: 1050px) {
    .popup{
        height: 100%;
        overflow:auto;
        overflow: scroll;
    }
    .popup_inner {
    flex-direction: column;
    height: 95%;
    width: 95%;
    align-items: center;
    border-radius: 29px;
  }
  
  .popup .image {
    width: 55%;
    height: 40%;
    border-radius: 30px;
  }
  
  .contenu {
    width: 100%;
    height: 50%;
    align-items: center;
  }
  
  .popup .nom {
    font-size: 1.5em;

  }
  
  .popup .type {
    font-size: 1em;
    margin-top: 0;
  }
  
  .popup .description {
    font-size: 1em;
    width: 90%;
  }
  
  .link_buttons {
    gap: 20px;
    width: 60%;
  }
  
  
  .popup .image_wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 1050px) and (max-height:290px) {
  .popup{
      height: 100%;
      overflow:auto;
      overflow: scroll;
      animation-duration: .1s;

  }
  .popup_inner {
  flex-direction: column;
  top: 2%;
  height: 175%;
  width: 95%;
  align-items: center;
  border-radius: 29px;
}

.popup .image {
  width: 55%;
  height: auto;
  border-radius: 30px;
}

.contenu {
  width: 100%;
  height: 50%;
  align-items: center;
}

.popup .nom {
  font-size: 1.5em;

}

.popup .type {
  font-size: 1em;
  margin-top: 0;
}

.popup .description {
  font-size: 1em;
  width: 90%;
}

.link_buttons {
  gap: 20px;
  width: 60%;
}


.popup .image_wrapper {
  width: 100%;
}
}

/*add media queries for me to make this code responsive*/
@media screen and (max-width: 820px) and (max-height:400px) {
    .popup{
        height: 100%;
        overflow:auto;
        overflow: scroll;

    }
    .popup_inner {
    flex-direction: column;
    top: 5%;
    height: 150%;
    width: 95%;
    align-items: center;
    justify-content: start;
    border-radius: 29px;    
  }
  
  .popup .image {
    width: 55%;
    height: auto;
    border-radius: 30px;
    margin-top: 20px;
  }
  
  .contenu {
    width: 100%;
    height: 50%;
    align-items: center;
  }
  
  .popup .nom {
    font-size: 1.3em;

  }
  
  .popup .type {
    font-size: 1em;
    margin-top: 0;
  }
  
  .popup .description {
    font-size: 1em;
    width: 90%;
  }
  
  .link_buttons {
    gap: 20px;
    width: 70%;
  }
  
  
  .popup .image_wrapper {
    width: 100%;
  }
}
/*add media queries for me to make this code responsive*/
@media screen and (max-width: 820px) and (max-height:310px) {
  .popup{
      height: 100%;
      overflow:auto;
      overflow: scroll;

  }
  .popup_inner {
  flex-direction: column;
  top: 5%;
  height: 160%;
  width: 95%;
  align-items: center;
  justify-content: start;
  border-radius: 29px;    
}

.popup .image {
  width: 55%;
  height: auto;
  border-radius: 30px;
  margin-top: 20px;
}

.contenu {
  width: 100%;
  height: 50%;
  align-items: center;
}

.popup .nom {
  font-size: 1.3em;

}

.popup .type {
  font-size: 1em;
  margin-top: 0;
}

.popup .description {
  font-size: 1em;
  width: 90%;
}

.link_buttons {
  gap: 20px;
  width: 70%;
}


.popup .image_wrapper {
  width: 100%;
}
}


@media screen and (max-width: 500px) {
    .popup{
        height: 100%;
        overflow:auto;
        overflow: scroll;

    }
    .popup_inner {
    top: 2%;
    flex-direction: column;
    height: 95%;
    width: 85%;
    align-items: center;
    justify-content: center;
    border-radius: 29px;
    gap: 20px;
  }
  .contenu{
  }
  .popup .image {
    width: 85%;
    height: 40%;
    border-radius: 30px;
  }
  
  .popup .nom {
    font-size: 1.5em;

  }
  
  .popup .type {
    font-size: 1em;
    margin-top: 0;
  }
  
  .popup .description {
    font-size: .9em;
    width: 90%;
  }
  
  .link_buttons {
    gap: 20px;
    width: 80%;
  }

  
  
  .popup .image_wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 500px) and (max-height:310px) {
  .popup{
      height: 100%;
      overflow:auto;
      overflow: scroll;

  }
  .popup_inner {
  top: 2%;
  flex-direction: column;
  height: 205%;
  width: 85%;
  align-items: center;
  justify-content: center;
  border-radius: 29px;
  gap: 20px;
}
.contenu{
}
.popup .image {
  width: 85%;
  height: auto;
  border-radius: 30px;
}

.popup .nom {
  font-size: 1.5em;

}

.popup .type {
  font-size: 1em;
  margin-top: 0;
}

.popup .description {
  font-size: .9em;
  width: 90%;
}

.link_buttons {
  gap: 20px;
  width: 80%;
}



.popup .image_wrapper {
  width: 100%;
}
}
@media (max-width:380px){
    .popup{
        height: 101%;
        overflow:auto;
        overflow: scroll;
    }
    .popup_inner{
        height: 100%;
        gap: 30px;
        top: 0%;
    }
    .link_buttons{
        width: 90%;
    }
    .link_buttons .button{

        width: 10px;
    }
    .contenu{
        font-size: .8em;
    }
}

@media (max-width:360px){
    .popup{
        height: 101%;
        overflow:auto;
        overflow: scroll;
    }
    .popup_inner{
        height: 90%;
        justify-content: start;
        align-items: center;
        justify-content: center;
    }
    .link_buttons{
        width: 90%;
    }
}
@media (max-width:360px){
  .popup{
      height: 101%;
      overflow:auto;
      overflow: scroll;
  }
  .popup_inner{
    top: 2%;
      height: 115%;
      width: 90%;
      justify-content: start;
      align-items: center;
      justify-content: center;
  }
  .link_buttons{
      width: 90%;
  }
}

@media (max-width:300px){
    .popup{
        height:101%;
        overflow:auto;
        overflow: scroll;
    }
    .popup_inner{
        height: 160%;
        gap: 30px;
        top: 05%;
        gap: 58px;
    }
    .popup .description{
        font-size: .8em;
    }
    .link_buttons{
        width: 100%;
    }
}