
.popup{
    background: #23272b;
    
    box-shadow:  -7px -7px 14px #111315,
                 7px 7px 14px #353b41;    height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup_inner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    gap: 0;
    width: 85%;
    height: 550px;
    border-radius: 29px;
    background: #23272b;
    box-shadow:  -7px -7px 14px #111315,
                 7px 7px 14px #353b41;
    transition: all .5s ease-in-out;
                }
.popup .image{
    width: 500px;
    height: 400px;
    border-radius: 30px;
}

.contenu{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: baseline;
    width: 40%;
    justify-content: space-evenly;
}

.popup a:hover{
}

.popup .nom{
    font-size: 2.5em;
    color: white;
    width: fit-content;
    text-align: center;
    margin-top: 20px;
}
.popup .type{
    font-size: 1.1em;
    letter-spacing: 1px;
    font-weight: lighter;
    color: #ff014f;
    text-align: center;
    margin-top: 20px;
}

.popup .description{
    font-size: 1.1em;
    font-weight: lighter;
    text-align: justify;
    word-spacing: 2px;
    color: white;
}

.button{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    background:none;
    color: white;
    outline: none;
    border: none;
    border-radius: 50%;
    background: #23272b;
    box-shadow:  5px 5px 10px #0e1011,
                 -5px -5px 10px #383e45;
}

.popup .image_wrapper{
    width: 100px;
}


.popUpContainer{
    background-color: aqua;
}

.link_buttons{
    display: flex;
    justify-content: space-between;
    width: 60%;
}
/* CSS */
.link_buttons .link ,.github{
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 20px;
}

.link_buttons .link:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.link_buttons .link:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.link_buttons .link:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}