.hidepage {
  display: none;
}

.projet_wrapper {
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 450px;
  border-radius: 29px;
  background: #23272b;
  box-shadow: -7px -7px 14px #111315, 7px 7px 14px #353b41;
  transition: all 0.5s ease-in-out;
  z-index: 2;
}

.projet_wrapper a {
  display: flex;
  height: 95%;
  flex-direction: column;
  justify-content: space-between;
}
.projet_wrapper:hover .image {
  opacity: 0.9;
  transition: all 0.5s ease-in-out;
  background-color: cadetblue;
  transform: scale(1.2);
}

.projet_wrapper:hover span {
  color: white;
}

.projet_wrapper:hover {
  box-shadow: -7px -7px 25px #111315, 7px 7px 14px #353b41;
  transition: all 0.5s ease-in-out;
}

.projet_wrapper .type {
  font-size: 1.1em;
  letter-spacing: 1px;
  font-weight: lighter;
  color: #ff014f;
  margin-top: 20px;
}

.projet_wrapper .nom {
  font-size: 1.6em;
  color: white;
  width: fit-content;
  margin-top: 20px;
}

.projet_wrapper .nom:hover {
  color: #ff014f;
  cursor: pointer;
  transition: 0.5s;
}

.icon {
  display: none;
}

.projet_wrapper .nom:hover .icon {
  display: inline;
}

.image_wrapper {
  height: 250px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin-top: 7px;
}

.image {
  width: 100%;
  height: auto;
  transition: 0.5s;
  border-radius: 20px;
}

.image:hover {
}

.contenu {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-left: 20px;
}

.programming {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  border-radius: 5px;
  background-color: #3c4fe0;
}
.programming span {
  border-radius: 2px;
  width: 6=80px;
  display: flex;
  gap: 10px;
  font-size: 1.2em;
  font-weight: lighter;
}

span > .image {
  width: 20px;
  height: auto;
}
