.hidepage{
    display: none;
}

.projet_wrapper{
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 450px;
    border-radius: 29px;
    background: #23272b;
    box-shadow:  -7px -7px 14px #111315,
                 7px 7px 14px #353b41;
    transition: all .5s ease-in-out;
}

.projet_wrapper:hover .image{
    opacity: 0.9;
    transition: all .5s ease-in-out;
    background-color: cadetblue;
    transform: scale(1.2);
}

/* .projet_wrapper:hover{
    opacity: 0.9;
    transition: all .5s ease-in-out;
}  */

.projet_wrapper .type{
    font-size: 1.1em;
    letter-spacing: 1px;
    font-weight: lighter;
    color: #ff014f;
    text-align: center;
    margin-top: 20px;
}

.projet_wrapper .nom{
    font-size: 1.5em;
    color: white;
    width: fit-content;
    text-align: center;
    margin-top: 20px;
}

.projet_wrapper .nom:hover{
    color: #ff014f;
    cursor: pointer;
    transition: .5s;
}

.icon{
    display: none;
}

.projet_wrapper .nom:hover .icon{
    display: inline;
}

.image_wrapper{
    height: 60%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-top: 7px;
}

.image{
    width: 100%;
    height: auto;
    background-color: cadetblue;
    transition: .5s;
    border-radius: 20px;
}

.image:hover{
}
